<h2>{{ title }}</h2>
<h2 [textContent]="title"></h2>
{{ course.title | uppercase | lowercase }} <br>
{{ course.students | number }} <br>
{{ course.rating | number:'1.2-3' }} <br>
{{ course.price | currency }} <br>
{{ course.releaseDate | date }} <br>

{{ text | summary:25 }} <br>

<img src="{{ imageUrl }}" />
<img [src]="imageUrl" />
<table>
  <tr>
    <td [attr.colspan]="colspan">

    </td>
  </tr>
</table>

<button [style.backgroundColor]="isActive ? 'blue': 'white'" class="btn btn-primary" [class.active]="isActive">Save</button>

<div (click)="onDivClicked()">
  <button class="btn btn-default" (click)="onSave($event)">Save</button>
</div>

<input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" />
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
